<footer class="bg-surface-container-lowest dark:bg-surface-container-lowest w-full mt-stack-xl border-t-8 border-dashed border-outline-variant flex flex-col md:flex-row justify-between items-center px-margin-page py-stack-md gap-stack-md relative z-10">
    <div class="font-headline-lg text-headline-lg-mobile text-primary">JOURNALISM CLUB VITB</div>
    <div class="flex gap-4">
        <a class="font-label-mono text-label-mono text-on-surface-variant hover:underline decoration-secondary-container hover:skew-x-2 transition-all" href="#">Manifesto</a>
        <a class="font-label-mono text-label-mono text-on-surface-variant hover:underline decoration-secondary-container hover:skew-x-2 transition-all" href="#">Archives</a>
        <a class="font-label-mono text-label-mono text-on-surface-variant hover:underline decoration-secondary-container hover:skew-x-2 transition-all" href="#">Legal Shite</a>
    </div>
    <div class="font-label-mono text-label-mono text-on-surface dark:text-on-surface">© 2026 JOURNALISM CLUB VITB - WE COVER EVERYTHING</div>
</footer>
